.paddock {
  background-image: url('http://blogs.discovermagazine.com/d-brief/files/2019/03/DinoHearing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
	min-height: 100vh;
}

.text {
  background-color: white;
  width: 35%;
  opacity: 0.9;
  border-radius: 5px;
  margin-left: 15px;
}

.remove {
  margin-left: 15px;
}
