.button-modal-wrapper {
  height: 55vh;
  width: 55vw;
}

button, .button, .pop-up-btn {
  font-family: 'Quicksand', sans-serif;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  border-radius: 5px;
  margin: 2px;
  align: center;
  color: black;
  background-color: #ffff66;
  border: 2px solid #e6e600;
}

.pop-up-btn {
  width: 80%;
  background-color: #29a329;
  border: 2px solid #1f7a1f;
}

.pop-up {
  text-align: center;
}

.button-list {
  display: flex;
}

button:hover, .button:hover, .pop-up-btn:hover, a:hover {
  background-color: yellow;
  cursor: pointer;
}
