.navbar {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: #29a329;
  height: 50px;
  line-height: 50px;
  padding: 4px;
  padding-left: 15px;
  margin: 0px 0px;
  position: relative;
  z-index: 99999;
  position: relative;
  border: 2px solid #1f7a1f;
}

a {
  padding: 0px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  color: black;
}

.red {
  padding: 0px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-left: 50%;
  border-radius: 5px;
  background-color: red;
}

.navbar li {
  padding: 0px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  color: white;
}

.dropbtn:hover {
  cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #1f7a1f;
}
