.paddock-list-item a {
  background-color: #29a329;
  box-shadow: 0 7px 0 #1f7a1f;
  color: black;
  padding: 1em;
  text-decoration: none;
  border-radius: 10px;
  text-transform: uppercase;
  }

.paddock-list {
  display: flex;
  padding: 1em;
  flex-wrap: wrap;
  height: 9em;
}

.paddock-list-item a:hover {
  background-color: yellow;
  cursor: pointer;
}

.paddock-list-item a:active {
  box-shadow: none;
  top: 5px;
}
